@model Rocinante.Models.Activity

@{
    ViewData["Title"] = "AddActivity";
}

<h1>AddActivity</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddActivity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityDate" class="control-label"></label>
                <input type="date" asp-for="ActivityDate" class="form-control" />
                <span asp-validation-for="ActivityDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <select asp-for="Action" class="form-control">
                    <option value="Applied">Applied</option>
                    <option value="Interview">Phone Interview</option>
                    <option value="In-person Interview">In-person Interview</option>
                    <option value="Additional Interview">Additional Interview</option>
                    <option value="Hired">Hired</option>
                    <option value="Not Hired">Not Hired</option>
                </select>
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@ViewBag.JobId" asp-for="JobId" name="JobId">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
